<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Listes des ordres.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="bg-white">



<!-- Start dash Admin Area -->
<section class="dash section">
  <div class="container">
    <div class="row">
            <div class="col-lg-12 col-md-6 col-6">
                <div class="accordion" id="accordionExample">
                    <!-- Ene attente de devis -->
                    <% @orders.each do |item| %>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                              <pre class="title">Titre: <%= item.title %>   Client: <%= item.client.username %>
<div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped" style="width: 10%"></div>
</div>
<strong>Contacter le client</strong> : <%= item.client.email %>/<strong>Tél</strong> : 0653228886

                              </pre>

                              <i class="lni lni-plus"></i>
                          </button>
                      </h2>


                      <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                          data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                                <!--here-->

                          <div class="d-flex flex-row-reverse m-2">
                            <a href="#" class="btn btn-danger">Refuser</a>
                            <a href="#" class="btn btn-success mx-4">Accepter</a>
                          </div>


                          <div class="row">
                              <div class="col-sm-8">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="sc-fde092b2-0 cHmBBd product-detail-content">
                                      <h5>Récapitulatif</h5>
                                      <div id="publicblock" class="sc-fde092b2-0 cHmBBd">
                                        <div class="CatstockQuotation">
                                          <div class="csqm-product-blocpublic">
                                            <div class="CsPublicBox">
                                              <div class="cspub-title">Lettre découpée lumineuse</div>
                                              <div class="cspub-declinations">
                                                <ul>
                                                  <% if item.present? %>
                                                    <li><b>Graphisme</b> : <%= item.graphisme %></li>
                                                    <li><b>Type d'impression</b> : <%= item.type_impression %></li>
                                                    <li><b>Nombre de faces</b> : <%= item.nombre_faces %></li>
                                                    <li><b>Type d'éclairage</b> : <%= item.type_eclairage %></li>
                                                    <li><b>Matière</b> : <%= item.matiere %></li>
                                                    <li><b>Type de LED</b> : <%= item.type_led %></li>
                                                    <li><b>Alimentation</b> : <%= item.alimentation %></li>
                                                    <li><b>Interpompier</b> : <%= item.interpompier %></li>
                                                    <li><b>Découpe</b> : <%= item.decoupe %></li>
                                                    <li><b>Fixation lettre</b> : <%= item.fixation_lettre %></li>
                                                  <% else %>
                                                    <li>Ordre n'existe pas!.</li>
                                                  <% end %>
                                                </ul>
                                              </div>
                                              <div class="cspub-calc-projects">
                                                <div>
                                                  <label><b>Projet</b> - <%= item.projet_dimensions %></label>
                                                  <br>Quantité 1- Surface : <%= item.quantite_surface %>
                                                </div>
                                              </div>
                                              <div class="cspub-calc-price">
                                                <div>
                                                  <span class="cspub-calc-price-exctax"><%= number_to_currency(item.prix_ht, precision: 2) %> ht</span> - <span class="cspub-calc-price-inctax"><%= number_to_currency(item.prix_ttc, precision: 2) %> ttc</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="image wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                      <img src="<%= Assignement.first.fulldesign %>" alt="#" width="310" height="350">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>




                        </div>
                      </div>
                    </div>

                    <% end %>

                </div>
            </div>
    </div><br>
  </div>
</section>

<!--/ End dash Admin Area -->

</html>
