

<nav class="navbar navbar-expand-lg sticky-wrapper is-sticky ">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <!-- <img src="./images/logo.png" alt="" width="auto" height="75"> -->
      <%= image_tag 'logo.png', height:75, width: "auto" %>
    </a>

    <a href="ticket.html" class="btn custom-btn d-lg-none ms-auto me-4">Devis GRATUIT</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">

      <li class="nav-item">
        <a class="nav-link click-scroll" href="#section_1">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link click-scroll" href="#section_2">Nos clients</a>
      </li>

      <li class="nav-item">
        <a class="nav-link click-scroll" href="#section_3">Nos créations</a>
      </li>

      <li class="nav-item">
        <a class="nav-link click-scroll" href="#section_3">Nous contacter</a>
      </li>
    </ul>

    <a href="ticket.html" class="btn custom-btn d-lg-block d-none">Devis GRATUIT</a>
  </div>
</div>
</nav>


<!-- ---------------------------------------
  HERO
----------------------------------------- -->

<section class="hero-section" id="section_1">
  <div class="section-overlay"></div>

  <div class="container d-flex justify-content-center align-items-center">

      <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
        <div class="date-wrap">
          <h5 class="text-white">
            <i class="custom-icon bi-clock me-2"></i>
            Lun - Ven : 9h - 18h
          </h5>
        </div>

        <div class="location-wrap mx-auto py-3 py-lg-0">
          <h5 class="text-white">
            <i class="custom-icon bi-geo-alt me-2"></i>
            Les Jas Neufs, Route des Vernèdes 83480 PUGET SUR ARGENS
          </h5>
        </div>

        <div class="social-share">
          <ul class="social-icon d-flex align-items-center justify-content-center">
            <h5 class="text-white">
              <i class="custom-icon bi-telephone"></i>
              Tél. : 04 94 53 81 36
            </h5>

          </ul>
        </div>
    </div>
  </div>

  <div class="video-wrap">
      <!-- <video autoplay="" loop="" muted="" class="custom-video" poster=""> -->
        <%= video_tag("hero.mp4", controls: false, class:"custom-video", autoplay: "", loop:"", muted: "", poster: "") %>
  </div>
</section>



<!-- ---------------------------------------
  Nos Clients
----------------------------------------- -->

<section class="carousel-section" id="section_2">
  <div class="section-overlay"></div>

  <div class="container d-flex justify-content-center align-items-center">
    <div class="row">
  <!-- Slideshow container -->
  <div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item active">
          <%= image_tag('black.png') %>
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item active">

          <%= image_tag('green.png') %>
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item active">

          <%= image_tag('grey.png') %>
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div></div>
</div>
</section>
