<!DOCTYPE html>
<html>
<head>
  <title>Brodissimo - Créateur d'élégance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- <%= javascript_importmap_tags %> -->
  <%= favicon_link_tag "favicon.png", rel:"shortcut icon", type:"image/png" %>


  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>




  <!-- <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.26/dist/interact.min.js"></script> -->
  <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script> -->
</head>

<body>
  <main><%= yield %></main>
  <%= render "shared/footer" %>
</body>
</html>
